debug: true

spring:
  jpa:
    hibernate:
      ddlAuto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/acolytedb
    username: postgres
    password: postgres

server:
  port: 8090


security:
  ignored: /**