.container {

  .top {
    margin: 15px;

  }

  .content {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}
