.container {

  .schedule-panel .mat-expansion-panel-header-title,
  .schedule-panel .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .schedule-panel .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }


}
