<div class="container">
  <mat-accordion class="schedule-panel">
    <mat-expansion-panel hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Schedule
        </mat-panel-title>
        <mat-panel-description>
          Click here to see your calendar
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>



      <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>



    </mat-expansion-panel>
  </mat-accordion>

</div>
