<div class="container">
  <mat-accordion class="schedule-panel">
    <mat-expansion-panel hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Schedule
        </mat-panel-title>
        <mat-panel-description>
          Click here to see your calendar
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="calendar-header">
        <div class="change-month">
          <div mwlCalendarPreviousView
            [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            <mat-icon>navigate_before</mat-icon>
          </div>
          <div mwlCalendarToday
            [(viewDate)]="viewDate">
            Today
          </div>
          <div mwlCalendarNextView
            [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>

        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="month" (click)="view = 'month'" [checked]="true">Month</mat-button-toggle>
          <mat-button-toggle value="week" (click)="view = 'week'">Week</mat-button-toggle>
          <mat-button-toggle value="day" (click)="view = 'day'">Day</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="month-title">
        <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
      </div>
      <div class="calendar">
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="schedules"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent($event.event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="schedules"
            [refresh]="refresh">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="schedules"
            [refresh]="refresh">
          </mwl-calendar-day-view>
        </div>
      </div>


    </mat-expansion-panel>



  </mat-accordion>

</div>
